- semantic_form_for [@post, @comment] do |f|
  = #f.error_messages

  - f.inputs do
    - unless signed_in?
      = f.input :name, :required => true
      = f.input :email, :label => 'E-mail', :required => true
      = f.input :url, :label => 'Website'
    = f.input :body, :as => :text, :required => true, :input_html => {:rows => 5}
  = f.buttons
