- semantic_form_for @user do |f|
  = #f.error_messages

  - f.inputs do
    = f.input :username, :required => true
    = f.input :email, :required => true
    = f.input :password, :as => :password, :required => true
    = f.input :password_confirmation, :as => :password, :required => true
    %li#user_roles_input.required
      = label_tag :user_roles, 'Roles'
      - User::ROLES.each do |role|
        = check_box_tag 'user[roles][]', role, @user.roles.include?(role)
        = h(role.humanize)
  = f.buttons
