- title t('.title')

#single
  #login
    - form_for @user do |f|
      = f.error_messages

      %p
        = f.label :password, t('.password')
        = f.password_field :password, :value => ''
      %p
        = f.label :password_confirmation, t('.password_confirmation')
        = f.password_field :password_confirmation, :value => ''
      %p
        = submit_tag t('.submit')
