- title t('.title')

- if signed_in?
  %ul#users
    - @users.each do |user|
      %li.user{:class => user.id == current_user.id ? 'self' : nil, :id => "user_#{user.id}"}
        %span.actions
          %span.destroy= link_to image_tag('silk/user_delete.png'), user, :method => :delete, :confirm => t('actions.confirm'), :rel => 'tipsy', :title => t('actions.destroy')
          - if user == current_user
            %span.edit= link_to image_tag('silk/user_edit.png'), edit_user_path(user), :rel => 'tipsy', :title => t('actions.edit')
        .block
          %div.avatar= image_tag user.gravatar(56), :alt => 'Gravatar', :size => '56x56', :class => 'gravatar'
          %div.info
            %dl
              %dt= t('.info.name')
              %dd.name= h user.username
            %dl
              %dt= t('.info.email')
              %dd= h user.email
            - if user.posts.any?
              %dl
                %dt= t('.info.posts')
                %dd
                  = user.posts.map {|post| link_to h(post.title), post_path(post), :title => l(post.published_or_created_at)}.to_sentence
            %dl
              %dt= t('.info.age')
              %dd= content_tag :span, time_ago_in_words(user.created_at), :title => l(user.created_at)
