- title 'Users'

- if can? :read, @users
  #users
    - @users.each do |user|
      .user
        %dl
          %dt
            Name
            - if can?(:destroy, user) && User.all.count > 1
              %span.destroy= link_to '✘', user, :method => :delete, :confirm => 'Are you sure?', :rel => 'tipsy', :title => 'Destroy'
          %dd.name
            = user.username
        %dl
          %dt E-mail
          %dd= user.email
        - if user.roles.any?
          %dl
            %dt Roles
            %dd= user.roles.map {|role| role.capitalize}.join(', ')
        %dl
          %dt Age
          %dd= time_ago_in_words(user.created_at)
