- title t('.title')

.single
  - semantic_form_for @user do |f|
    = #f.error_messages

    - f.inputs do
      = f.input :username, :required => true
      = f.input :email, :label => 'E-mail', :required => true
      = f.input :password, :as => :password, :required => true
      = f.input :password_confirmation, :as => :password, :required => true
    = f.buttons
