- semantic_form_for @page do |f|
  = #f.error_messages

  - f.inputs do
    = f.input :title, :required => true
    = f.input :body, :as => :text, :required => true, :input_html => {:rows => '20', :id => 'markdown'}
    - unless controller.action_name == 'edit'
      = f.input :url, :required => true
  = f.buttons
