- semantic_form_for @post do |f|
  = #f.error_messages

  - f.inputs do
    = f.input :title, :required => true, :hint => 'Length is is required to be within 4 to 40 characters.'
    = f.input :named_tags, :label => 'Tags', :hint => "Separate tags with a semicolon (;). Only alphabetic characters and dashes (-) are allowed."
    = f.input :published, :as => :select, :label => 'Status', :collection => [['Draft', false], ['Published', true]], :hint => 'Guests will not see drafts.'
    = f.input :body, :as => :text, :required => true, :hint => "#{link_to 'Markdown', 'http://daringfireball.net/projects/markdown/'} is enabled."
  = f.buttons
