= error_messages_for :post

- form_for @post do |f|
  %p
    = f.label :title
    %br/
    = f.text_field :title
  %p
    = f.label :named_tags, 'Tags'
    %br/
    = f.text_field :named_tags
  %p
    = f.label :body
    %br/
    = f.text_area :body
  %p
    = f.submit 'Save', :disable_with => 'Saving post...'
