- semantic_form_for @post do |f|
  = #f.error_messages

  - f.inputs do
    = f.input :title, :required => true
    = f.input :named_tags, :label => 'Tags', :hint => "Separate tags with a semicolon (;)"
    = f.input :body, :as => :text, :required => true
  = f.buttons
