- semantic_form_for @post do |f|
  = #f.error_messages

  - f.inputs do
    = f.input :title, :required => true
    = f.input :tag_names, :label => 'Tags'
    = f.input :published, :as => :select, :label => 'Status', :collection => [[t('.draft'), false], [t('.published'), true]]
    = f.input :body, :as => :text, :required => true, :input_html => {:rows => '15', :id => 'markdown'}
  = f.buttons

- #stylesheet 'markdown'
- #javascript 'jquery.textarea'
= #javascript_include_tag 'markdown'
