- if @posts.any?
  %ul#posts
    - @posts.each do |post|
      %li.post
        .date
          = post.created_at.strftime('%b')
          %b= post.created_at.strftime('%d')
        .content
          .head
            %h2.title= link_to h(post.title), post_slug_url(post)
            %span.username{:title => user_role(post.user).capitalize}= post.user.username
          .body
            = markdown truncate(post.body, :length => 450, :omission => link_to('... (more)', post_slug_url(post)))
          .meta
            %span.tags
              - if post.tags.any?
                Tags: #{tag_urls post.tags}
              - else
                No tags
            %span.comments= link_to 'Comments', "#{post_slug_url(post)}#comments"

  = will_paginate @posts
- else
  %h2 No posts have been made!
