- @posts.each do |post|
  %h2
    = link_to h(post.title), post_slug_url(post)
    by
    = post.user.username
  = markdown truncate(post.body, :length => 250, :omission => link_to('...', post_slug_url(post)))

= #page_entries_info @posts
= will_paginate @posts
