- if @posts.any? || !@posts.out_of_bounds?
  %ul#posts
    - @posts.each do |post|
      %li.post{:class => post.published ? nil : 'draft', :id => "post_#{post.id}"}
        .content.has-actions
          .head
            - if signed_in? && !post.published
              %span.actions
                %span.edit= link_to image_tag('silk/page_edit.png'), edit_post_path(post), :rel => 'tipsy', :title => t('actions.edit')
            %h2.title
              = link_to h(post.title), post_path(post)
            %p.meta
              = t '.meta', :tags => (post.tags.any? ? tag_paths(post.tags) : t('posts.uncategorized')), :user => content_tag(:strong, h(post.creator.username))
              = content_tag :span, l(post.published_or_created_at, :format => :shorter), :title => l(post.published_or_created_at)
              - if post.published
                &mdash;
                = link_to pluralize(post.comments.size, t('posts.comment')), "#{post_path post}#comments"
          .body
            = markdown post.body

  - if @posts.total_entries > @posts.limit
    #pagination
      = hymir_paginate t('.pagination_name'), @posts

- else
  %h2= t '.no_posts'
