- if @posts.any? || !@posts.out_of_bounds?
  %ul#posts
    - @posts.each do |post|
      %li.post{:class => post.published ? nil : 'draft'}
        .content
          .head
            - if can?(:update, @post) && !post.published
              %span.edit= link_to image_tag('page_edit.png'), edit_post_path(post), :rel => 'tipsy', :title => 'Edit'
            %h2.title
              = link_to h(post.title), post_path(post)
            %p.meta
              Posted
              - if post.tags.any?
                in #{tag_paths post.tags}
              by
              %strong= h post.user.username
              on
              = content_tag :span, post.created_at.strftime('%B %e, %Y'), :title => post.created_at
              &mdash;
              = link_to pluralize(post.comments.count, 'comment'), "#{post_path post}#comments"
          .body
            = markdown post.body

  #pagination
    Showing posts #{content_tag :strong, "#{@posts.index(@posts.first)+@posts.offset+1}-#{@posts.index(@posts.last)+@posts.offset+1}"} of #{content_tag :strong, @posts.total_entries}.
    %br/
    = link_to '&larr; Previous Page', :overwrite_params => {:page => @posts.previous_page} if @posts.previous_page
    = '|' if @posts.previous_page && @posts.next_page
    = link_to 'Next Page &rarr;', :overwrite_params => {:page => @posts.next_page} if @posts.next_page
- else
  %h2 No posts found!
