- title h(@post.title), false

#single
  .content
    .head
      %h2.title
        = h @post.title
        - if not @post.published
          %span.draft [draft]
        %span.actions
          - if can? :update, @post
            %span.edit= link_to image_tag('add.png'), edit_post_path(@post), :rel => 'tipsy', :title => 'Edit'
          - if can? :destroy, @post
            %span.destroy= link_to image_tag('delete.png'), @post, :method => :delete, :confirm => 'Are you sure?', :rel => 'tipsy', :title => 'Destroy'
    .body
      = markdown @post.body
      - if @post.updated?
        %br/
        %em.updated Updated on #{@post.updated_at.strftime('%B %d %Y at %H:%M')}
    .foot
      %p.meta
        Posted on
        = @post.created_at.strftime('%B %d %Y at %H:%M')
        by
        %strong= h @post.user.username
        - if @post.tags.any?
          and is filed under #{tag_paths @post.tags}

#comments
  - if @post.published
    - if @post.comments.any?
      %h2 #{@post.comments.count} Comments
      %ul#comments_list
        - @post.comments.sort_by {|c| c.created_at}.each do |comment|
          %li{:class => "comment#{comment.has_user ? ' has_user' : nil}"}
            .info
              = image_tag comment.gravatar(21), :alt => 'Gravatar', :size => '21x21', :class => 'gravatar'
              %strong.username= link_to_unless comment.url.blank?, h(comment.name), comment.url
              - if can? :destroy, comment
                %span.destroy= link_to image_tag('delete.png'), post_comment_path(@post, comment), :method => :delete, :confirm => 'Are you sure?', :rel => 'tipsy', :title => 'Destroy'
              %p.meta #{time_ago_in_words comment.created_at} ago
            .body
              = markdown comment.body
    - else
      %h2 No comments yet!

    - if can? :create, Comment
      #newcomment
        %h2 New Comment
        = render 'comments/form'
