- title @post.title

- if @post.tags.any?
  %p
    Tags:
    = tag_urls(@post.tags)

= parse_markdown_body(@post.body)

%p
  - if can? :update, @post
    = link_to 'Edit', edit_post_path(@post)
    \|
  - if can? :destroy, @post
    = link_to 'Destroy', @post, :method => :delete, :confirm => 'Are you sure?'
    \|
  = link_to 'Back to list', posts_path
