- title h(@post.title), false

#single
  .content
    .head
      %h2.title
        = h @post.title
        - if not @post.published
          %span.draft [draft]
        %span.actions
          - if can? :update, @post
            %span.edit= link_to image_tag('page_edit.png'), edit_post_path(@post), :rel => 'tipsy', :title => 'Edit'
          - if can? :destroy, @post
            %span.destroy= link_to image_tag('page_delete.png'), @post, :method => :delete, :confirm => 'Are you sure?', :rel => 'tipsy', :title => 'Destroy'
    .body
      = markdown @post.body
    .foot
      %p.meta
        Posted on
        = @post.created_at.strftime('%B %e %Y at %H:%M')
        by
        %strong= h @post.user.username
        - if @post.tags.any?
          and filed under #{tag_paths @post.tags}.
        - else
          and filed without any tags.
        %br/
        Follow any comments to this post through the
        = link_to 'Atom', post_path(@post, :format => :atom), :class => 'feed'
        feed,
        = link_to 'leave a comment', "#{post_path(@post)}#new_comment"
        or
        = link_to 'trackback', post_path(@post, :format => :html)
        from your own site.

#comments
  - if @post.published
    - if @post.comments.any?
      %h2#comments_count #{@post.comments.count} Comments
      %ul#comments_list
        - @post.comments.sort_by {|c| c.created_at}.each do |comment|
          %li{:class => "comment#{comment.has_user ? ' has_user' : nil}"}
            .info
              = image_tag comment.gravatar(21), :alt => 'Gravatar', :size => '21x21', :class => 'gravatar'
              %strong.username= link_to_unless comment.url.blank?, h(comment.name), comment.url
              - if can? :destroy, comment
                %span.destroy= link_to image_tag('comment_delete.png'), post_comment_path(@post, comment), :method => :delete, :confirm => 'Are you sure?', :rel => 'tipsy', :title => 'Destroy'
              %p.meta #{time_ago_in_words comment.created_at} ago
            .body
              = markdown comment.body
    - else
      %h2#comments_count No comments yet!

    - if can? :create, Comment
      %h2#new_comment New Comment
      = render 'comments/form'
