- title @post.title, false

%h2= h @post.title

- if @post.tags.any?
  %p
    Tags:
    = tag_urls @post.tags

= markdown @post.body

%p
  - if can? :update, @post
    = link_to 'Edit', edit_post_path(@post)
  - if can? :destroy, @post
    = link_to 'Destroy', @post, :method => :delete, :confirm => 'Are you sure?'

- if @post.comments.any?
  %ul#comments
    - @post.comments.sort_by {|c| c.created_at}.each do |comment|
      %li.comment
        \##{@post.comments.index(comment)+1} by
        - if comment.has_user
          %em= comment.name
        - else
          %strong= link_to_unless comment.url.blank?, h(comment.name), comment.url
        = markdown comment.body
        - if can? :destroy, comment
          = link_to 'Destroy', post_comment_path(@post, comment), :method => :delete, :confirm => 'Are you sure?'
- else
  %p No comments yet!

- if can? :create, Comment
  %h3 New Comment
  = render 'comments/form'
