- title @post.title, false

%h2
  = @post.title
  by
  = @post.user.username

= simple_format(@post.body)

- if can? :update, @post
  = link_to 'Edit', edit_post_path(@post)
  \|
- if can? :destroy, @post
  = link_to 'Destroy', @post, :method => :delete, :confirm => 'Are you sure?'
  \|
= link_to 'Back to list', posts_path
