- title h(@post.title), false

%div.single{:class => @post.published ? nil : 'draft'}
  .content.has-actions
    .head
      %span.actions
        - if signed_in?
          %span.edit= link_to image_tag('silk/page_edit.png'), edit_post_path(@post), :rel => 'tipsy', :title => t('actions.edit')
          %span.destroy= link_to image_tag('silk/page_delete.png'), @post, :method => :delete, :confirm => 'Are you sure?', :rel => 'tipsy', :title => t('actions.destroy')
      %h2.title
        = h @post.title
    .body
      = markdown @post.body
    .foot
      = t '.meta', :time => content_tag(:span, l(@post.published_or_created_at, :format => :long), :title => l(@post.published_or_created_at)), :user => h(@post.creator.username), :tags => (@post.tags.any? ? tag_paths(@post.tags) : t('posts.uncategorized'))
      %br/
      = t '.info', :feed => link_to(t('posts.feed'), post_path(@post, :format => :atom), :class => 'feed'), :comment => link_to(t('posts.leave_comment'), "#{post_path(@post)}#new_comment")

#comments
  - if @post.published
    - if @post.comments.any?
      %h2#comments_count= pluralize @post.comments.size, t('posts.comment')
      %ul#comments_list
        - @post.comments.sort_by {|c| c.created_at}.each do |comment|
          %li.post_comment.has-actions{:class => comment.has_user ? 'has_user' : nil, :id => "comment_#{comment.id}"}
            .info
              = image_tag comment.gravatar(21), :alt => 'Gravatar', :size => '21x21', :class => 'gravatar'
              %strong.username= link_to_unless comment.url.blank?, h(comment.name), comment.url
              %p.meta= content_tag :span, l(comment.created_at, :format => :shortest), :title => l(comment.created_at)
            .body
              - if signed_in?
                %span.actions
                  %span.destroy= link_to image_tag('silk/comment_delete.png'), post_comment_path(@post, comment), :title => t('actions.destroy'), :class => 'destroy'
              = markdown comment.body

    - else
      %h2#comments_count= t '.comments.no_comments'

    - if @post.published_or_created_at > 2.weeks.ago
      %h2#new_comment= t '.comments.new'
      = render 'comments/form'
    - else
      %h2#new_comment= t '.comments.disabled'
