%head
  %title= h(yield(:title) || Hymir::Config[:title])
  = tag :meta, {:"http-equiv" => 'Content-Type', :content => 'text/html; charset=utf-8'}
  = auto_discovery_link_tag :atom, posts_path(:format => :atom), :title => 'Posts feed'
  = stylesheet_link_tag 'formtastic', 'formtastic_changes', 'tipsy', 'application'
  = javascript_include_tag 'jquery-1.4.1.min', 'jquery.tipsy', 'application'
  = yield(:head)
