!!! 5
%html{html_attrs}
  %head
    %title= h(yield(:title) || Hymir::Config[:title])
    = auto_discovery_link_tag :atom, posts_path(:format => :atom), :title => 'Posts feed'
    = stylesheet_link_tag 'application', 'tipsy', :cache => 'application'
    = stylesheet_link_tag 'formtastic', 'formtastic_changes', :cache => 'formtastic'
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'jquery.tipsy', 'application', :cache => 'application'
    = yield(:head)

  %body
    #container
      - if signed_in?
        %span#session.login= link_to 'Log out', logout_path, :method => :delete
      - else
        %span#session.logout= link_to 'Log in', login_path
      #header
        %h1= link_to Hymir::Config[:title], root_path
        #nav
          %ul
            %li= link_to_unless_current 'Home', root_path
            %li= link_to_unless_current 'About', about_path
            %li= link_to_unless_current 'Portfolio', portfolio_path
            %li= link_to_unless_current 'Services', services_path
      #wrapper
        - flash.each do |name, msg|
          = content_tag :div, (content_tag :span, msg, :class => name), :id => "flash_#{name}"
        #content
          - if show_title?
            %h2= h yield(:title)
          = yield
        #sidebar
          - form_tag posts_path, :method => :get do
            = text_field_tag :q, params[:q], :id => 'searchfield'
            = submit_tag 'Search', :name => nil, :id => 'searchsubmit'
          - if (post_tags = Post.all(:conditions => published?).map(&:tags).flatten.uniq).any?
            %h2 Tags
            %ul
              - post_tags.each do |post_tag|
                %li.tag= link_to h(post_tag), tag_path(post_tag)
          %h2 Archive
          %ul
            - Post.all(:order => 'created_at DESC', :conditions => published?).group_by(&:month).each do |month, posts|
              %li.archive #{link_to "#{month}", archive_path(posts)} (#{posts.count})
          - if signed_in?
            %h2 Welcome, #{h current_user.username}
            %ul
              - if can? :create, Post
                %li.newpost= link_to 'New post', new_post_path
              - if can? :manage, User
                %li.newuser= link_to 'New user', new_user_path
                %li.allusers= link_to 'All users', users_path
      #footer
        %p Powered by #{link_to 'Hymir', 'http://github.com/gigamo/hymir', :rel => 'tipsy', :title => "Version: #{Hymir::Version::STRING}"}.
