!!! 5
%html{html_attrs}
  %head
    %title= h(yield(:title) || Hymir::Config[:title])
    = auto_discovery_link_tag :atom, "#{posts_path}.atom", :title => 'Posts feed'
    = stylesheet_link_tag 'application', 'tipsy', :cache => 'application'
    = stylesheet_link_tag 'formtastic', 'formtastic_changes', :cache => 'formtastic'
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'jquery.tipsy', 'application', :cache => 'application'
    = yield(:head)

  %body
    #container
      #header
        %h1= link_to Hymir::Config[:title], root_path
        #nav
          %ul
            %li= link_to_unless_current 'Home', root_path
            %li= link_to_unless_current 'About', about_path
            %li= link_to_unless_current 'Portfolio', portfolio_path
            %li= link_to_unless_current 'Services', services_path
      #wrapper
        - flash.each do |name, msg|
          = content_tag :div, (content_tag :span, msg, :class => name), :id => "flash_#{name}"
        #content
          - if show_title?
            %h2= h yield(:title)
          = yield
        #sidebar
          - form_tag search_path, :method => :get do
            = text_field_tag :q, params[:q], :id => 'searchfield'
            = submit_tag 'Search', :name => nil, :id => 'searchsubmit'
          %h2
            - if signed_in?
              Welcome, #{h current_user.username}
            - else
              Controls
          %p
            - if signed_in?
              - if can? :create, Post
                = link_to 'Create post', new_post_path
                %br/
              - if can? :manage, User
                = link_to 'Create user', new_user_path
                %br/
                = link_to 'All users', users_path
                %br/
              = link_to 'Log out', logout_path, :method => :delete
              %br/
            - else
              = link_to 'Log in', login_path
          %h2 Archive
          %p
            - Post.all(:order => 'created_at DESC').group_by(&:month).each do |month, posts|
              = link_to "#{month} (#{posts.count})", archive_url(posts)
              %br/
      #footer
        %p Powered by #{link_to 'Hymir', 'http://github.com/gigamo/hymir', :rel => 'tipsy', :title => "Version: #{Hymir::Version::STRING}"}.
