!!! XML
!!! 1.1
%html{html_attrs}
  %head
    %title= h(yield(:title) || 'Hymir')
    = stylesheet_link_tag 'application', :cache => 'base'
    = auto_discovery_link_tag :atom, "#{posts_path}.atom", :title => 'Posts feed'
    = yield(:head)

  %body
    #container
      #user_status
        - if signed_in?
          Welcome,
          %strong= h(current_user.username) + '.'
          = link_to 'Log out', logout_path, :method => :delete
        - else
          = link_to 'Log in', login_path
        - if can? :create, User
          \|
          = link_to 'Create user', signup_path


      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"

      %h1= link_to 'Hymir', root_url

      - if show_title?
        %h2= h(yield(:title))

      = yield
