!!! 5
%html{html_attrs}
  %head
    %title= h(yield(:title) || 'Hymir')
    = auto_discovery_link_tag :atom, "#{posts_path}.atom", :title => 'Posts feed'
    = stylesheet_link_tag 'application', 'tipsy', :cache => 'base'
    = stylesheet_link_tag 'formtastic', 'formtastic_changes', :cache => 'formtastic'
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'jquery.tipsy', 'application', :cache => 'application'
    = yield(:head)

  %body
    #container
      #header
        %h1= link_to 'Project Hymir', root_path
        #nav
          %ul
            %li= link_to 'Home', root_path, :class => 'active'
            %li= link_to 'About', about_path
            %li= link_to 'Portfolio', '#'
            %li= link_to 'Services', '#'
      #wrapper
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
        #content
          = yield
        #sidebar
          %h2 Archive
          %ul#archive
            - Post.all(:order => 'created_at DESC').group_by(&:month).each do |month, posts|
              %li= link_to "#{month} (#{posts.count})", archive_url(posts)
          %h2
            - if signed_in?
              Welcome,
              = h current_user.username
            - else
              Doom
          %p
            - if signed_in?
              - if can? :create, User
                = link_to 'Create user', signup_path
                %br/
              - if can? :create, Post
                = link_to 'Create post', new_post_path
                %br/
              = link_to 'Log out', logout_path, :method => :delete
              %br/
            - else
              = link_to 'Log in', login_path
      #footer
        %p
          Powered by
          = link_to 'Hymir', root_path
