!!! 5
%html{html_attrs}
  = render 'layouts/head'
  %body
    #container
      #locales
        = I18n.available_locales.map {|locale| link_to_unless (I18n.locale.to_sym == locale), h(locale), :overwrite_params => {:locale => locale}}.join(content_tag :span, ' &ndash; ', :class => :separator)
      #header
        %h1= link_to h(Hymir::Config[:title]), root_path
        #nav
          %ul
            %li= link_to_unless_current t('.nav.home'), root_path
            %li= link_to_unless_current t('.nav.about'), about_path
            %li= link_to_unless_current t('.nav.portfolio'), portfolio_path
            %li= link_to_unless_current t('.nav.services'), services_path
      #wrapper
        - flash.each do |name, msg|
          = content_tag :div, (content_tag :span, msg, :class => name), :id => "flash_#{name}"
        #content
          - if show_title?
            %h2= h yield(:title)
          = yield
        #sidebar
          = render 'layouts/sidebar'
      #footer
        %p Powered by #{link_to 'Hymir', 'http://github.com/gigamo/hymir', :title => "Version: #{Hymir::Version}"}.
