!!! 5
%html{html_attrs}
  = render 'layouts/head'
  %body
    #container
      #locales
        = I18n.available_locales.map {|locale| link_to_unless (I18n.locale.to_sym == locale), h(locale), :overwrite_params => {:locale => locale}}.join(content_tag :span, ' &ndash; ', :class => :separator)
      #header
        %h1= link_to h(Hymir::Config[:title]), root_path
        #nav
          %ul
            %li= link_to_unless_current t('.nav.home'), root_path
            %li= link_to_unless_current t('.nav.about'), about_path
            %li= link_to_unless_current t('.nav.portfolio'), portfolio_path
            %li= link_to_unless_current t('.nav.services'), services_path
      #wrapper
        - flash.each do |name, msg|
          = content_tag :div, (content_tag :span, msg, :class => name), :id => "flash_#{name}"
        #content
          - if show_title?
            %h2= h yield(:title)
          = yield
        #sidebar
          - all_posts = Post.all(:order => 'created_at DESC', :conditions => published?)
          - form_tag posts_path, :method => :get do
            = text_field_tag :q, h(params[:q]), :id => 'searchfield'
            = submit_tag t('.forms.search'), :name => nil, :id => 'searchsubmit'
          .content
            - if signed_in?
              %h2= t '.sidebar.controls.title', :user => h(current_user.username)
              %ul
                %li.edituser= link_to t('.sidebar.controls.edit_user'), edit_user_path(current_user)
                - if can? :create, Post
                  %li.newpost= link_to t('.sidebar.controls.new_post'), new_post_path
                - if can? :create, User
                  %li.newuser= link_to t('.sidebar.controls.new_user'), new_user_path
                - if can? :read, User
                  %li.allusers= link_to t('.sidebar.controls.all_users'), users_path

            - if (post_tags = all_posts.map(&:tags).flatten.sort_by{|t|t}).any?
              %h2= t '.sidebar.tags.title'
              %ul#tagcloud
                - tag_cloud(post_tags, %w[size1 size2 size3 size4 size5 size6]) do |tag, css_class|
                  %li= link_to h(tag), tag_path(tag), :class => css_class

            - if all_posts.any?
              %h2= t '.sidebar.archive.title'
              %ul
                - all_posts.group_by(&:month).each do |month, posts|
                  %li.archive #{link_to "#{month}", archive_path(posts)} (#{posts.count})

            %h2= t '.sidebar.meta.title'
            %ul.meta
              %li.feed= link_to t('.sidebar.meta.feed'), posts_path(:format => :atom)
              - if signed_in?
                %li.logout= link_to t('.sidebar.meta.logout'), logout_path, :method => :delete
              - else
                %li.login= link_to t('.sidebar.meta.login'), login_path
      #footer
        %p Powered by #{link_to 'Hymir', 'http://github.com/gigamo/hymir', :title => "Version: #{Hymir::Version::STRING}"}.
